:root {
    --fia-orange: #DDA13B;
    --fia-black: #212121;
    --fia-brown: #5c3b0b;
    --fia-blue: darkblue;
    --fia-grey: rgb(211, 211, 211);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.blur {
    background-image: none;
}

/**************************************************************************************************************************************************************************/
/************************************************************************* About us ***************************************************************************************/
/**************************************************************************************************************************************************************************/

.about-blur {
    background-image: url("Pictures/bible.jpg");
}

.header-about {
    font-family: 'Architects Daughter', cursive;
}

.page-head {
    height: 10vw;
    margin-top: -5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
}

.list-group {
    display: none;
}

/************************************************************************* About-1 ***************************************************************************************/

.about-1 {
    height: fit-content;
    margin-bottom: 5vh;
}

.about-mission {
    margin-top: 5vh;
}

.about-contact {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .about-contact {
        margin-top: 5vh;
        text-align: left;
    }
}

.home-nav {
    padding: 0;
}

.history-txt, .mission-txt, .contact {
    padding: .7em;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

.contact {
    border: 5px solid var(--fia-blue);
    border-left: none;
    border-right: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-col {
    width: 90%;
    margin: auto 0;
}

.contact-txt {
    width: 10%;
}

.contact-input {
    width: 100%;
    padding: .2em;
    text-indent: 8px;
    border-radius: 1vw;
    border: 2px solid var(--fia-black);
    font-size: 20px;
    background-color: var(--fia-grey);
}

.about-message {
    height: 15vh;
    padding: .5em;
    border: 2px solid var(--fia-black);
    text-indent: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.about-message::-webkit-scrollbar {
    display: none;
}

.send-btn {
    color: var(--fia-grey);
    background-color: var(--fia-black);
}

/************************************************************************* About-2 ***************************************************************************************/
.about-2 {
    height: fit-content;
}

.about-team {
    margin-bottom: 5vh;
}

.team-1, .team-2{
    width: calc(10vw + 10vh);
    height: calc(10vw + 10vh);
    
	background-size: cover;
	background-repeat: no-repeat;
    border: solid var(--fia-black);
    border-radius: calc(10vw + 10vh);
}

.team-1 {
    background-image: url("Pictures/man-placeholder.jpg");
}

.team-2 {
    background-image: url("Pictures/woman-placeholder.jpg");
}

.team-holder {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.about-team {
    margin-bottom: 5vh;
}

/**************************************************************************************************************************************************************************/
/************************************************************************* Services ***************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-services {
    background-image: url("Pictures/hands.jfif");
}

.service-header {
    width: 55vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.services-1 {
    height: fit-content;
}

.service {
    margin: 10vh 0;
}

.service:first-child {
    margin-top: 5vh;
}

.service-title {
    font-weight: bold;
    color: var(--fia-orange);
}

.fa-circle {
    margin: 20px 20px 0 20px
}

.service-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-pic {
    background-size: cover;
	background-repeat: no-repeat;
}

.shopping {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    border-radius: 2vw;
    background-image: url("Pictures/shopping.jpg");
}

.car {
    width: calc((12vw + 12vh) * 1.5);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/car.jpg");
}

.handyman {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/handyman.jpg");
}

.yardwork {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/yardwork.jpg");
}

.visit {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/visit.jpg");
}

.homecare {
    width: calc((12vw + 12vh) * 1.5);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/homecare.jpg");
}

.phone {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/phone.jpg");
}

.housekeep {
    width: calc((12vw + 12vh) * 1.5);
    height: calc(12vw + 12vh);
    border-radius: 2vw;
    background-image: url("Pictures/housekeep.jpg");
}

.service-statement {
    padding: .7em;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

/**************************************************************************************************************************************************************************/
/************************************************************************** Impact ****************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-impact {
    background-image: url("Pictures/flowers.jfif");
}

.statement-container {
    display: flex;
    justify-content: center;
}

.impact-statement {
    width: calc(35vw + 35vh);
    padding: .7em;
    margin-bottom: 7vh;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

.impact-container {
    margin-bottom: 7vh;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.impact-chart {
    width: calc(35vw + 35vh);
    height: calc(24vw + 24vh);
    border-radius: 3vw;
    border: 5px solid var(--fia-blue);
    background-image: url("Pictures/total-services.png");
    background-size: cover;
	background-repeat: no-repeat;
}

/**************************************************************************************************************************************************************************/
/*********************************************************************** I Need Help **************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-iNeed {
    background-image: url("Pictures/helping-hands.jfif");
}

.iNeed-header {
    width: 45vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.iNeed-statement {
    padding: .7em;
    margin-bottom: 7vh;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

/**************************************************************************************************************************************************************************/
/********************************************************************** Testimonials **************************************************************************************/
/**************************************************************************************************************************************************************************/
.blur-test {
    background-image: url("Pictures/feedback.jpg");
}

.test-header {
    width: 50vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.testimonial {
    position: relative;
    margin: 4vh 0;
}

.testimonial:last-child {
    margin-bottom: 8vh;
}

.test-text {
    position: relative;
    padding: 4vh;
    margin-bottom: 2vh;
    border-radius: 2vw;
    border: 5px var(--fia-orange) dotted;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 30px;
}

.test-quote {
    font-family: Verdana;
    font-size: 50px;
    font-weight: bold;
    color: var(--fia-orange);
    position: absolute;
}

.test-quote-left {
    transform: translate(1.5vh, 1.5vh);
}

.test-quote-right {
    margin-left: 1vh;
    transform: translateY(-1.5vh);
}

.test-right {
    color: var(--fia-blue);
}

.test-name {
    width: 90%;
    font-size: 30px;
    text-align: right;
    color: var(--fia-black);
}

.test-border-right {
    border-color: var(--fia-blue);
}

.test-name-left {
    text-align: left;
    margin-left: 10%;
}

@media screen and (max-width: 991px) {
    .test-name, .test-text {
        font-size: 25px;
    }

    .test-quote {
        font-size: 45px;
    }

    .test-quote-left {
        transform: translate(2vh, 1.5vh);
    }
}

@media screen and (max-width: 767px) {
    .test-name, .test-text {
        font-size: 22px;
    }

    .test-quote {
        font-size: 40px;
    }

    .test-quote-left {
        transform: translate(2vh, 1.5vh);
    }
}

/**************************************************************************************************************************************************************************/
/********************************************************************** Volunteer **************************************************************************************/
/**************************************************************************************************************************************************************************/
.blur-volunteer {
    background-image: url("Pictures/volunteer.jpg");
}

.volunteer-header {
    width: 50%;
    top: 3%;
    left: 65%;
    color: white;
}

/**************************************************************************************************************************************************************************/
/************************************************************************ Resources ***************************************************************************************/
/**************************************************************************************************************************************************************************/
.blur-resources {
    background-image: url("Pictures/resources.jpg");
}

.glide {
    margin-bottom: 12vh;
}

.glide-slide {
    width: 20vw;
    padding-top: 20vw;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
    background-image: url("Pictures/fia-color-tag.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.glide-slide:nth-child(2n) {
    border: 5px solid var(--fia-blue);
}

.glide-arrows {
    position: relative;
}

.glide-arrow {
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    background-color: var(--fia-black);
    cursor: pointer;
}

.glide-arrow-right {
    right: 30%;
}

.glide-arrow-left {
    left: 30%;
}

.glide-bullets {
    width: 300px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__bullet {
    width: 25px;
    height: 10px;
    margin: 0 auto;
    border: 3px var(--fia-black) solid;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .glide-arrow-left {
        left: 25%
    }
    .glide-arrow-right {
        right: 25%
    }
}

@media screen and (max-width: 991px) {
    .glide-arrow {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .glide-arrow-left {
        left: 18%
    }
    .glide-arrow-right {
        right: 18%
    }
    .glide-bullets {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .glide-arrow-left {
        left: 5%
    }
    .glide-arrow-right {
        right: 5%
    }
}

@media screen and (max-width: 500px) {
    .glide-bullets {
        width: 200px;
        height: 35px;
    }

    .glide__bullet {
        width: 20px;
        height: 6px;
        margin: 0 auto;
        border: 2px var(--fia-black) solid;
    }

    .glide-arrow {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

/**************************************************************************************************************************************************************************/
/************************************************************************ Contact Us **************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-contact {
    background-image: url("Pictures/contact.jfif");
}

.contact-header {
    width: 45vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.contact-info-header {
    margin-bottom: 2vh;
    text-align: center;
}

.sticky-contact {
    position: sticky;
    top: 2%;
    margin-bottom: 7vh;
}

.contact-info, .contact-us {
    padding: .7em;
    margin-bottom: 7vh;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

.corning {
    margin-bottom: 3vh;
}

.contact-us {
    border: 5px solid var(--fia-blue);
    text-align: left;
}

.contact-us-col {
    width: 100%;
    margin: 2vh 0;
    font-size: 24px;
}

h2 {
    color: var(--fia-orange);
}

@media screen and (max-width: 767px) {
    .sticky-contact {
        position: relative;
        margin-bottom: -2vh;
    }
}