:root {
    --fia-orange: #DDA13B;
    --fia-black: #212121;
    --fia-brown: #5c3b0b;
    --fia-blue: darkblue;
    --fia-grey: rgb(211, 211, 211);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.blur {
    background-image: none;
}

/**************************************************************************************************************************************************************************/
/************************************************************************* About us ***************************************************************************************/
/**************************************************************************************************************************************************************************/

.about-blur {
    background-image: url("Pictures/bible.jpg");
}

.header-about {
    font-family: 'Architects Daughter', cursive;
}

.page-head {
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
}

.list-group {
    display: none;
}

/************************************************************************* About-1 ***************************************************************************************/

.about-1 {
    height: fit-content;
    margin-bottom: 5vh;
}

.about-mission {
    margin-top: 5vh;
}

.about-contact {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .about-contact {
        margin-top: 5vh;
        text-align: left;
    }
}

.home-nav {
    padding: 0;
}

.history-txt, .mission-txt, .contact {
    padding: .7em;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

.contact {
    border: 5px solid var(--fia-blue);
    border-left: none;
    border-right: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-col {
    width: 90%;
    margin: auto 0;
}

.contact-txt {
    width: 10%;
}

.contact-input {
    width: 100%;
    padding: .2em;
    text-indent: 8px;
    border-radius: 1vw;
    border: 2px solid var(--fia-black);
    font-size: 20px;
    background-color: var(--fia-grey);
}

.about-message {
    height: 15vh;
    padding: .5em;
    border: 2px solid var(--fia-black);
    text-indent: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.about-message::-webkit-scrollbar {
    display: none;
}

.send-btn {
    color: var(--fia-grey);
    background-color: var(--fia-black);
}

/************************************************************************* About-2 ***************************************************************************************/
.about-2 {
    height: fit-content;
}

.about-team {
    margin-bottom: 5vh;
}

.team-1, .team-2{
    width: calc(10vw + 10vh);
    height: calc(10vw + 10vh);
    
	background-size: cover;
	background-repeat: no-repeat;
    border: solid var(--fia-black);
    border-radius: calc(10vw + 10vh);
}

.team-1 {
    background-image: url("Pictures/man-placeholder.jpg");
}

.team-2 {
    background-image: url("Pictures/woman-placeholder.jpg");
}

.team-holder {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.about-team {
    margin-bottom: 5vh;
}

/**************************************************************************************************************************************************************************/
/************************************************************************* Services ***************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-services {
    background-image: url("Pictures/hands.jfif");
}

.service-header {
    width: 55vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.services-1 {
    height: fit-content;
}

.service {
    margin: 10vh 0;
}

.service:first-child {
    margin-top: 5vh;
}

.service-title {
    font-weight: bold;
    color: var(--fia-orange);
}

.fa-circle {
    margin: 20px 20px 0 20px
}

.service-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-pic {
    background-size: cover;
	background-repeat: no-repeat;
}

.shopping {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    border-radius: 2vw;
    background-image: url("Pictures/shopping.jpg");
}

.car {
    width: calc((12vw + 12vh) * 1.5);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/car.jpg");
}

.handyman {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/handyman.jpg");
}

.yardwork {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/yardwork.jpg");
}

.visit {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/visit.jpg");
}

.homecare {
    width: calc((12vw + 12vh) * 1.5);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/homecare.jpg");
}

.phone {
    width: calc(12vw + 12vh);
    height: calc(12vw + 12vh);
    background-image: url("Pictures/phone.jpg");
}

.housekeep {
    width: calc((12vw + 12vh) * 1.5);
    height: calc(12vw + 12vh);
    border-radius: 2vw;
    background-image: url("Pictures/housekeep.jpg");
}

.service-statement {
    padding: .7em;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

/**************************************************************************************************************************************************************************/
/************************************************************************** Impact ****************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-impact {
    background-image: url("Pictures/flowers.jfif");
}

.statement-container {
    display: flex;
    justify-content: center;
}

.impact-statement {
    width: calc(35vw + 35vh);
    padding: .7em;
    margin-bottom: 7vh;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

.impact-container {
    margin-bottom: 7vh;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.impact-chart {
    width: calc(35vw + 35vh);
    height: calc(24vw + 24vh);
    border-radius: 3vw;
    border: 5px solid var(--fia-blue);
    background-image: url("Pictures/total-services.png");
    background-size: cover;
	background-repeat: no-repeat;
}

/**************************************************************************************************************************************************************************/
/*********************************************************************** I Need Help **************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-iNeed {
    background-image: url("Pictures/helping-hands.jfif");
}

.iNeed-header {
    width: 45vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.iNeed-statement {
    padding: .7em;
    margin-bottom: 7vh;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

/**************************************************************************************************************************************************************************/
/************************************************************************ Contact Us **************************************************************************************/
/**************************************************************************************************************************************************************************/

.blur-contact {
    background-image: url("Pictures/contact.jfif");
}

.contact-header {
    width: 45vw;
    background: rgba(211, 211, 211, .6);
	box-shadow: 2px 2px 3vmin 3vmin rgba(211, 211, 211, .6);
    border-radius: 2vw;
}

.contact-info-header {
    margin-bottom: 2vh;
    text-align: center;
}

.contact-info, .contact-us {
    padding: .7em;
    margin-bottom: 7vh;
    border-radius: 2vw;
    border: 5px solid var(--fia-orange);
    box-sizing: border-box;
}

.corning {
    margin-bottom: 3vh;
}

.contact-us {
    border: 5px solid var(--fia-blue);
    text-align: left;
}

.contact-us-col {
    width: 100%;
    margin: 2vh 0;
    font-size: 24px;
}

h2 {
    color: var(--fia-orange);
}